@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 16%;
    left: 12%;
    transform: translate ( -50%, -50%)
}